---
http_interactions:
- request:
    method: get
    uri: http://nuapi.dev/v1/admin/users.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="8f399c4c-8bbf-4272-938e-f3e4123d194f"
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://nuapi.dev/v1/admin/users.json?page=3>; rel="last", <http://nuapi.dev/v1/admin/users.json?page=2>;
        rel="next"
      Total:
      - '71'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"353e89534f8f90db110cc96cee767623"'
    body:
      encoding: UTF-8
      string: '{"users":[{"id":13475,"email":"admin@nuwe.co","measurements":{},"bmi":null,"weight":null,"height":null,"bpm":null,"blood_pressure":null,"nu_score":null,"biometric_score":{"score":null,"freshness":99},"activity_score":{"score":null,"freshness":98},"nutrition_score":{"score":null,"freshness":97},"nutrition":{"error":{"message":"User
        13475 \u003cadmin@nuwe.co\u003e has no DCN."}},"profile":{"first_name":null,"last_name":null,"sex":null,"birth_date":null,"activity":2,"facebook_id":null,"avatar":{"tiny":"http://nuapi.dev/avatars/tiny/missing.png","small":"http://nuapi.dev/avatars/small/missing.png","medium":"http://nuapi.dev/avatars/medium/missing.png"},"time_zone":null},"tokens":[{"id":"8f399c4c-8bbf-4272-938e-f3e4123d194f","scope":null,"created_at":"2014-10-16T11:40:22.449Z"}],"preferences":[]},{"id":13474,"email":"melanie0humanwoie02393209@example.com","measurements":{},"bmi":null,"weight":null,"height":null,"bpm":null,"blood_pressure":null,"nu_score":0,"biometric_score":{"score":null,"freshness":99},"activity_score":{"score":null,"freshness":98},"nutrition_score":{"score":null,"freshness":97},"nutrition":{"error":{"message":"User
        13474 \u003cmelanie0humanwoie02393209@example.com\u003e has no DCN."}},"profile":{"first_name":null,"last_name":null,"sex":"F","birth_date":"1990-01-01","activity":4,"facebook_id":null,"avatar":{"tiny":"http://nuapi.dev/avatars/tiny/missing.png","small":"http://nuapi.dev/avatars/small/missing.png","medium":"http://nuapi.dev/avatars/medium/missing.png"},"time_zone":null},"tokens":[{"id":"597db820-d572-415e-86e9-cd03b84e4c7f","scope":"api","created_at":"2014-09-05T14:05:55.839Z"}],"preferences":[{"name":"units","value":"metric"},{"name":"use_health_data","value":"true"}]},{"id":13473,"email":"appletestuser@example.com","measurements":{},"bmi":null,"weight":null,"height":null,"bpm":null,"blood_pressure":null,"nu_score":20,"biometric_score":{"score":null,"freshness":99},"activity_score":{"score":60,"freshness":98},"nutrition_score":{"score":null,"freshness":97},"nutrition":{"error":{"message":"User
        13473 \u003cappletestuser@example.com\u003e has no DCN."}},"profile":{"first_name":null,"last_name":null,"s[...]
