---
http_interactions:
- request:
    method: post
    uri: http://nuapi.dev/v1/auth.json
    body:
      encoding: UTF-8
      string: '{"session":{"email":"me@example.com","password":"ohnoesinvalid"}}'
    headers:
      Authorization:
      - Token token="8f399c4c-8bbf-4272-938e-f3e4123d194f"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Authorization failed"}}'
  recorded_at: Thu, 16 Oct 2014 15:12:43 GMT
recorded_with: VCR 2.9.3
