---
http_interactions:
- request:
    method: get
    uri: http://nuapi.dev/v1/admin/users/13405.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="8f399c4c-8bbf-4272-938e-f3e4123d194f"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fe9bce43ccdd13ecbc0eeabe8aa27a7b"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":13405,"email":"diamond.cummerata@corwin.net","bmi":"25.867545346578","weight":"80000.0","height":"1880.0","bpm":"120.0","blood_pressure":"110/90","nu_score":52,"biometric_score":{"score":97,"freshness":99},"activity_score":{"score":60,"freshness":98},"nutrition_score":{"score":0,"freshness":97},"nutrition":{"error":{"message":"User
        13405 \u003cjoost@spacebabies.nl\u003e has no DCN."}},"profile":{"first_name":"Joost","last_name":"Baaij
        ","sex":"M","birth_date":"1975-08-06","activity":2,"facebook_id":"joost@spacebabies.nl","avatar":{"tiny":"http://nuapi.dev/avatars/tiny/missing.png","small":"http://nuapi.dev/avatars/small/missing.png","medium":"http://nuapi.dev/avatars/medium/missing.png"},"time_zone":"Europe/Amsterdam"},"tokens":[{"id":"6d079eda-3580-4f28-b3b7-67009fa7ea31","scope":"api","created_at":"2014-07-29T08:35:35.762Z"}],"preferences":[{"name":"units","value":"metric"}]}}'
  recorded_at: Thu, 16 Oct 2014 11:46:03 GMT
recorded_with: VCR 2.9.3
